# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import dice_ml
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor

# Classification problem: Telco Customer Churn

In [2]:
tmf=pd.read_csv('Classification.csv')

In [3]:
tmf.head()

,Tenure in Months,Senior Citizen,Under 30,Total Long Distance Charges,Total Refunds,Churn Value,Total Charges,Total Revenue,Total Extra Data Charges,Satisfaction Score
0,1,1.0,0.0,0.00,0.00,1,39.65,59.65,20,3
1,8,1.0,0.0,390.80,0.00,1,633.30,1024.10,0,3
2,18,1.0,0.0,203.94,45.61,1,1752.55,1910.88,0,2
3,25,1.0,0.0,494.00,13.43,1,2514.50,2995.07,0,2
4,37,1.0,0.0,234.21,0.00,1,2868.15,3102.36,0,2

In [4]:
target=tmf['Churn Value']

In [5]:
X=tmf.drop('Churn Value',axis=1)

In [6]:
rfc_tmf=RandomForestClassifier()

In [7]:
rfc_tmf.fit(X,target)

RandomForestClassifier()

### Initializing Dice data

In [8]:
data_dice = dice_ml.Data(dataframe=tmf.astype(float).astype(str),
                          continuous_features=[],
                         outcome_name='Churn Value')

### Initializing Dice Model

In [9]:
model_dice = dice_ml.Model(model=rfc_tmf, backend="sklearn")

### Combining Data and Model to create Dice Explainer

In [10]:
explainer = dice_ml.Dice(data_dice, model_dice, method="random")

### Selecting a datapoint for which counterfactual is needed

In [11]:
input_datapoint=pd.DataFrame(X.iloc[67]).T

### Finding couterfactuals

In [12]:
cf= explainer.generate_counterfactuals(input_datapoint.astype(float).astype(str), 
              total_CFs=3, 

                            desired_class=0,
              #permitted_range=permit_range,
              features_to_vary=X.columns.to_list())

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  3.15it/s]

In [13]:
cf.visualize_as_dataframe(show_only_changes=True)

Query instance (original outcome : 1)

,Tenure in Months,Senior Citizen,Under 30,Total Long Distance Charges,Total Refunds,Total Charges,Total Revenue,Total Extra Data Charges,Satisfaction Score,Churn Value
0,8.0,1.0,0.0,343.44,0.0,729.95,1073.39,0.0,1.0,1

Diverse Counterfactual set (new outcome: 0)

,Tenure in Months,Senior Citizen,Under 30,Total Long Distance Charges,Total Refunds,Total Charges,Total Revenue,Total Extra Data Charges,Satisfaction Score,Churn Value
0,59.0,-,-,-,-,-,-,-,4.0,0
1,3.0,-,-,-,-,-,-,-,4.0,0
2,-,-,-,-,37.64,-,-,-,4.0,0

# Regression problem: House Price Prediction

In [14]:
hpp=pd.read_csv('Regression.csv')

In [15]:
hpp.head()

     ZN  House_Price    TAX  RAD     RM
0  18.0         24.0  296.0  1.0  6.575
1   0.0         21.6  242.0  2.0  6.421
2   0.0         34.7  242.0  2.0  7.185
3   0.0         33.4  222.0  3.0  6.998
4   0.0         36.2  222.0  3.0  7.147

In [16]:
target_hpp=hpp['House_Price']

In [17]:
X_hpp=hpp.drop('House_Price',axis=1)

In [18]:
rfc_hpp=RandomForestRegressor()

In [19]:
rfc_hpp.fit(X_hpp,target_hpp)

RandomForestRegressor()

### Initializing Dice data

In [20]:
data_dice_hpp = dice_ml.Data(dataframe=hpp.astype(float).astype(str),
                          continuous_features=[],
                         outcome_name='House_Price')

### Initializing Dice Model

In [21]:
model_dice_hpp = dice_ml.Model(model=rfc_hpp, backend="sklearn",model_type='regressor')

### Combining Data and Model to create Dice Explainer

In [22]:
explainer_hpp = dice_ml.Dice(data_dice_hpp, model_dice_hpp, method="random")

### Selecting a datapoint for which counterfactual is needed

In [23]:
input_datapoint_hpp=pd.DataFrame(X_hpp.iloc[10]).T

### Finding couterfactuals

In [24]:
cf_hpp= explainer_hpp.generate_counterfactuals(input_datapoint_hpp.astype(float).astype(str), 
              total_CFs=3, 

                            desired_range=[25,50],
              #permitted_range=permit_range,
              features_to_vary=X_hpp.columns.to_list())

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  3.63it/s]

In [25]:
cf_hpp.visualize_as_dataframe(show_only_changes=True)

Query instance (original outcome : 18)

     ZN    TAX  RAD     RM  House_Price
0  12.5  311.0  5.0  6.377         18.0

Diverse Counterfactual set (new outcome: [25, 50])

  ZN    TAX  RAD     RM        House_Price
0  -  255.0    -  7.236   35.1879997253418
1  -      -    -  8.375  48.28900146484375
2  -      -  7.0  8.297   45.0099983215332